html {
    scroll-behavior: smooth;
}

* {
    box-sizing: border-box;
}

body {
    margin: 0;
    font-family: 'Raleway', sans-serif;
    text-align: center;
}

img {
    max-width: 100%;
    height: auto;
}

.container {
    width: 95%;
    max-width: 70em;
    margin: 0 auto;
}

/* typography
====================== */

h1 {
    font-weight: 300;
    font-size: 2.5rem;
    margin-top: 0;
}

p {
    line-height: 1.5em;
}

p:last-of-type {
    margin-bottom: 0;
}

.title {
    font-size: 2.5rem;
    margin-bottom: 1.5em;
    font-weight: 900;
    margin-top: 1em;
}

.title span {
    font-weight: 300;
    display: block;
    font-size: .9em;
}

@media (min-width: 60rem) {

    p {
        font-size: 1.2rem;
        line-height: 1.6;
    }

    .title {
        font-size: 3.7rem;
    }
}



/* buttons */

.button {
    display: inline-block;
    font-size: 1.5rem;
    /* font-size: 1.15rem; */
    text-decoration: none;
    text-transform: uppercase;
    border-width: 2px;
    border-style: solid;
    padding: .5em 1.75em;
}

.button-accent {
    border-color: #E40407;
    color: #E40407;
}

.button-accent:hover,
.button-accent:focus {
    background: #830406;
    color: #fff;
}

@media (min-width: 60rem) {
    .button {
        font-size: 1.7rem;
    }
}

/* header
====================== */

header {
    position: absolute;
    left: 0;
    right: 0;
}

header img {
    width: 35em;
    max-width: 100%;
    height: auto;
}

nav ul {
    margin: 0;
    margin-top: -1.5em;
    padding: 0;
    list-style: none;
}

nav li {
    display: inline-block;
    margin: 1em;
}

nav a {
    font-weight: 900;
    text-decoration: none;
    text-transform: uppercase;
    font-size: .8rem;
    padding: .5em;
    color: #FFF;
}

nav a:hover,
nav a:focus {
    color: #DDD;
    /* color: #E40407; */
    /* transition: color 0.25s, border-color 0.25s, box-shadow 0.25s, transform 0.25s; */
}



/* @media (min-width: 60rem) {
    .logo {
        float: left;
    }

    nav {
        float: right;
    }
} */

/* home-hero
====================== */

.home-hero {
    background-image: url(Bilder/spår.jpg);
    padding: 18em 0;
    color: #FFF;
    background-size: cover;
    background-repeat: no-repeat;
    /* background-position: center; */
}

@media (min-width: 60rem) {
    .home-hero {
        height: 100vh;
        padding-top: 35vh;
    }
}

/* hero-home
====================== */

.home-about-textbox {
    background-color: #232323;
    padding: 4em;
    width: 100vw;
    margin-left: -2.5%;
    outline: 2px solid #E40407;
    outline-offset: -2.5em;
    color: #fff;
    position: relative;
}

.home-about-textbox h1 {
    color: #E40407;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    top: .3em;
    background: #232323;
    padding: 0 .25em;
}

@media (min-width: 25rem) {
    h1 {
        font-size: 2rem;
    }

    .home-about-textbox h1 {
        top: .6em;
        padding: 0 .325em;
    }
}

@media (min-width: 60rem) {
    h1 {
        font-size: 2.5rem;
    }

    .home-about {
        background-image: url(Bilder/patrik.jpg);
        background-repeat: no-repeat;
        padding-bottom: 10em;
    }

    .home-about-textbox {
        width: 50%;
        padding: 4em;
        outline-offset: -2.5em;
        margin-left: -2.5%;
        top: -5em;
        text-align: left;
        box-shadow: 0 0 3em 0 rgba(0, 0, 0, .75);
        border-radius: 2em;
    }

    .home-about-textbox h1 {
        top: .3em;
        /* padding: 0 .6em; */
        left: 3rem;
        transform: translateX(0);
    }
}