html {
    scroll-behavior: smooth;
}

* {
    box-sizing: border-box;
    transition: all ease-in-out 250ms;
}

body {
    margin: 0;
    font-family: 'Raleway', sans-serif;
    text-align: center;
}

img {
    max-width: 100%;
    height: auto;
}

.container {
    width: 95%;
    max-width: 70em;
    margin: 0 auto;
}

.clearfix::after,
section::after,
footer::after {
    content: '';
    display: block;
    clear: both;
}

/* Column system
====================== */

[class^=col-] {
    width: 100%;
    margin-top: 1em;
}

[class^=col-]:first-child {
    margin-top: 0;
}

.col-1 {
    width: 33.3333334%;
    float: left;
}

@media (min-width: 20rem) {
    .unstyled-list img {
        margin-left: 5.5rem;
        margin-top: 1.5em;
    }
}


@media (min-width: 40rem) {

    [class^=col-] {
        float: left;
        padding: 0 .6em;
        margin-top: 2.5em;
    }

    [class^=col-]:first-child {
        padding-left: 0;
    }

    [class^=col-]:last-child {
        padding-right: 0;
    }

    .col-3 {
        width: 50%;
    }

    .col-1 {
        width: 16.6666%;
    }
}

@media (min-width: 60rem) {
    .unstyled-list img {
        padding: 0 .6;
    }
}



/* typography
====================== */

h1 {
    font-weight: 300;
    font-size: 2.5rem;
    margin-top: 0;
}

p {
    line-height: 1.5em;
}

p:last-of-type {
    margin-bottom: 0;
}

.title {
    font-size: 2.5rem;
    margin-bottom: 1.5em;
    font-weight: 900;
    margin-top: 1em;
}

.title span {
    font-weight: 300;
    display: block;
    font-size: .9em;
}

.portfolio h1 {
    font-weight: 700;
    background-image: linear-gradient(to bottom left, #530304, #E40407);
    background-clip: text;
    color: transparent;
}

.title-top {
    margin: 0 0 .75em;
}

.unstyled-list {
    margin: 0;
    padding: 0;
    list-style-type: none;
}

@media (min-width: 60rem) {

    p {
        font-size: 1.2rem;
        line-height: 1.6;
    }

    .title {
        font-size: 3.7rem;
    }
}



/* buttons */

.button {
    display: inline-block;
    font-size: 1.5rem;
    /* font-size: 1.15rem; */
    text-decoration: none;
    text-transform: uppercase;
    border-width: 2px;
    border-style: solid;
    padding: .5em 1.75em;
}

@media (min-width: 60rem) {
    .button {
        font-size: 1.7rem;
    }
}

.button-small {
    font-size: .7rem;
    font-weight: 700;
}

.button-accent {
    border-color: #E40407;
    color: #E40407;
}

.button-accent:hover,
.button-accent:focus {
    background: #830406;
    color: #fff;
}

.button-dark {
    border-color: #232323;
    color: #232323;
}

.button-dark:hover,
.button-dark:focus {
    background: #232323;
    color: #fff;
}


/* header
====================== */

header {
    position: absolute;
    left: 0;
    right: 0;
}

header img {
    width: 35em;
    max-width: 100%;
    height: auto;
}

nav ul {
    margin: 0;
    margin-top: -1.5em;
    padding: 0;
    list-style: none;
}

nav li {
    display: inline-block;
    margin: 1em;
}

nav a {
    font-weight: 900;
    text-decoration: none;
    text-transform: uppercase;
    font-size: .8rem;
    padding: .5em;
    color: #FFF;
}

nav a:hover,
nav a:focus {
    color: #E40407;
    /* color: #E40407; */
    /* transition: color 0.25s, border-color 0.25s, box-shadow 0.25s, transform 0.25s; */
}

/* home-hero
====================== */

.home-hero {
    background-image: url(Bilder/spår.jpg);
    padding: 18em 0;
    color: #FFF;
    background-size: cover;
    background-repeat: no-repeat;
    /* background-position: center; */
}

@media (min-width: 60rem) {
    .home-hero {
        height: 100vh;
        padding-top: 35vh;
    }
}

/* hero-home
====================== */

.home-about-textbox {
    background-color: #232323;
    padding: 4em;
    width: 100vw;
    margin-left: -2.5%;
    outline: 2px solid #E40407;
    outline-offset: -2.5em;
    color: #fff;
    position: relative;
}

.home-about-textbox h1 {
    color: #E40407;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    top: .3em;
    background: #232323;
    padding: 0 .25em;
}

@media (min-width: 25rem) {
    h1 {
        font-size: 2rem;
    }

    .home-about-textbox h1 {
        top: .6em;
        padding: 0 .325em;
    }
}

@media (min-width: 60rem) {
    h1 {
        font-size: 2.5rem;
    }

    .home-about {
        background-image: url(Bilder/patrik.jpg);
        background-repeat: no-repeat;
        padding-bottom: 10em;
    }

    .home-about-textbox {
        width: 50%;
        padding: 4em;
        outline-offset: -2.5em;
        margin-left: -2.5%;
        top: -5em;
        text-align: left;
        box-shadow: 0 0 3em 0 rgba(0, 0, 0, .75);
        border-radius: 2em;
    }

    .home-about-textbox h1 {
        top: .3em;
        /* padding: 0 .6em; */
        left: 3rem;
        transform: translateX(0);
    }
}


/* portfolio
====================== */

.portfolio {
    margin: 3em 0 0;

}

.port-item {
    margin: 0;
    position: relative;
}

.port-item img {
    border-bottom: .25em solid #830406;
    display: block;
}

.port-desc {
    position: absolute;
    z-index: 100;
    bottom: 0em;
    left: 0em;
    right: 0em;
    color: #fff;
    background: rgba(0, 0, 0, .6);
    padding-bottom: 2em;
}

.port-desc p {
    margin: 1em;
}

@media (min-width: 40rem) {
    .port-item {
        width: 50%;
        float: left;
    }
}

@media (min-width: 60rem) {

    .port-item {
        width: 33.3333334%;
        overflow: hidden;
    }

    .port-desc {
        transform: translateY(150%);
    }

    .port-item:hover .port-desc {
        transform: translateY(0%);

    }
}

/* TABLE
======================*/



/* table {
    border-collapse: collapse;
    margin: 1em auto;
    font-size: .9em;
    font-family: 'Raleway' sans-serif;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
    left: 0;
    right: 0;
}

table thead tr {
    background-color: #830406;
    color: #fff;
    text-align: left;
}

table th,
table td {
    padding: 1em 1em;
    font-weight: 700;
}

table th:nth-of-type(2),
table td:nth-of-type(2) {
    border-left: 1px solid black;
}

table th:nth-of-type(3),
table td:nth-of-type(3) {
    border-left: 1px solid black;
}

table tbody tr {
    border-bottom: 1px solid #ddd;
}

table tbody tr:nth-of-type(even) {
    background-color: #f3f3f3;
}

table tbody tr:last-of-type {
    border-bottom: 2px solid #830406;
} */

/* CTA
====================== */

.cta {
    background-color: #ddd;
    /* #830406 */

    padding: 5em 0;
}

/* footer
====================== */

footer {
    background: #232323;
    color: #fff;
    text-align: left;
    padding: 5em 0;
}

footer p {
    margin-top: 0;
}